binds {
    Print hotkey-overlay-title="Screenshot: Full Screen" { spawn "dms" "ipc" "call" "niri" "screenshotScreen"; }
    Super+Comma hotkey-overlay-title="Settings: Focus or Toggle" { spawn "dms" "ipc" "call" "settings" "focusOrToggle"; }
    Super+S hotkey-overlay-title="Screenshot: Window" { spawn "dms" "ipc" "call" "niri" "screenshotWindow"; }
    Super+Shift+S hotkey-overlay-title="Screenshot: Interactive" { spawn "dms" "ipc" "call" "niri" "screenshot"; }
    Super+Shift+Slash hotkey-overlay-title="Keybinds Cheatsheet: Toggle" { spawn "dms" "ipc" "call" "keybinds" "toggle" "niri"; }
    Super+V hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Super+space hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    XF86AudioLowerVolume hotkey-overlay-title="Volume Down" { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioMute hotkey-overlay-title="Volume Mute Toggle" { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioRaiseVolume hotkey-overlay-title="Volume Up" { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86MonBrightnessDown hotkey-overlay-title="Brightness Down" { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp hotkey-overlay-title="Brightness Up" { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Super+1 hotkey-overlay-title="Focus Workspace 1" { focus-workspace 1; }
    Super+2 hotkey-overlay-title="Focus Workspace 2" { focus-workspace 2; }
    Super+3 hotkey-overlay-title="Focus Workspace 3" { focus-workspace 3; }
    Super+4 hotkey-overlay-title="Focus Workspace 4" { focus-workspace 4; }
    Super+5 hotkey-overlay-title="Focus Workspace 5" { focus-workspace 5; }
    Super+Down hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Super+Shift+1 hotkey-overlay-title="Move to Workspace 1" { move-column-to-workspace 1; }
    Super+Shift+2 hotkey-overlay-title="Move to Workspace 2" { move-column-to-workspace 2; }
    Super+Shift+3 hotkey-overlay-title="Move to Workspace 3" { move-column-to-workspace 3; }
    Super+Shift+4 hotkey-overlay-title="Move to Workspace 4" { move-column-to-workspace 4; }
    Super+Shift+5 hotkey-overlay-title="Move to Workspace 5" { move-column-to-workspace 5; }
    Super+Shift+Down hotkey-overlay-title="Move to Workspace Down" { move-column-to-workspace-down; }
    Super+Shift+Up hotkey-overlay-title="Move to Workspace Up" { move-column-to-workspace-up; }
    Super+Up hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    Super+Alt+space hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Super+BracketLeft hotkey-overlay-title="Consume/Expel Left" { consume-or-expel-window-left; }
    Super+BracketRight hotkey-overlay-title="Consume/Expel Right" { consume-or-expel-window-right; }
    Super+Ctrl+Down hotkey-overlay-title="Focus Monitor Down" { focus-monitor-down; }
    Super+Ctrl+Left hotkey-overlay-title="Focus Monitor Left" { focus-monitor-left; }
    Super+Ctrl+Right hotkey-overlay-title="Focus Monitor Right" { focus-monitor-right; }
    Super+Ctrl+Shift+Down hotkey-overlay-title="Move to Monitor Down" { move-column-to-monitor-down; }
    Super+Ctrl+Shift+Left hotkey-overlay-title="Move to Monitor Left" { move-column-to-monitor-left; }
    Super+Ctrl+Shift+Right hotkey-overlay-title="Move to Monitor Right" { move-column-to-monitor-right; }
    Super+Ctrl+Shift+Up hotkey-overlay-title="Move to Monitor Up" { move-column-to-monitor-up; }
    Super+Ctrl+Up hotkey-overlay-title="Focus Monitor Up" { focus-monitor-up; }
    Super+End hotkey-overlay-title="Focus Last Column" { focus-column-last; }
    Super+Equal hotkey-overlay-title="Increase Column Width" { set-column-width "+10%"; }
    Super+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Super+Home hotkey-overlay-title="Focus First Column" { focus-column-first; }
    Super+Left hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+Minus hotkey-overlay-title="Decrease Column Width" { set-column-width "-10%"; }
    Super+Q hotkey-overlay-title="Close Window" { close-window; }
    Super+Right hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Shift+C hotkey-overlay-title="Center Column" { center-column; }
    Super+Shift+End hotkey-overlay-title="Move to Last" { move-column-to-last; }
    Super+Shift+Equal hotkey-overlay-title="Increase Window Height" { set-window-height "+10%"; }
    Super+Shift+F hotkey-overlay-title="Expand to Available Width" { expand-column-to-available-width; }
    Super+Shift+Home hotkey-overlay-title="Move to First" { move-column-to-first; }
    Super+Shift+Left hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Shift+Minus hotkey-overlay-title="Decrease Window Height" { set-window-height "-10%"; }
    Super+Shift+Right hotkey-overlay-title="Move Right" { move-column-right; }
    Super+Shift+P hotkey-overlay-title="Power Off Monitors" { power-off-monitors; }
    Alt+Ctrl+Delete hotkey-overlay-title="Quit Niri" { quit; }
    Super+C hotkey-overlay-title="Launch Editor" { spawn "zeditor"; }
    Super+E hotkey-overlay-title="Launch File Explorer" { spawn "nautilus"; }
    Super+N { spawn "mnemo"; }
    Super+T hotkey-overlay-title="Launch Terminal" { spawn "wezterm"; }
    Super+W hotkey-overlay-title="Launch Web Browser" { spawn "zen-browser"; }
    Super+Escape hotkey-overlay-title="Toggle Shortcuts Inhibit" { toggle-keyboard-shortcuts-inhibit; }
    Super+O hotkey-overlay-title="Toggle Overview" { toggle-overview; }
}
